dist: trusty

sudo: required

language: cpp

services:
  - docker

env:
  matrix:
          - TYPE=pmemkv-master OS=ubuntu OS_VER=19.04 PUSH_IMAGE=1
          # XXX enable it when the 'stable-1.0' branch is available
          # - TYPE=pmemkv-stable OS=ubuntu OS_VER=19.04 PUSH_IMAGE=1

before_install:
  - echo $TRAVIS_COMMIT_RANGE
  - export HOST_WORKDIR=`pwd`
  - export GITHUB_REPO=pmem/pmemkv-jni
  - export DOCKERHUB_REPO=pmem/pmemkv-jni
  - cd utils/docker
  - ./pull-or-rebuild-image.sh
  - if [[ -f push_image_to_repo_flag ]]; then PUSH_THE_IMAGE=1; fi
  - if [[ -f skip_build_package_check ]]; then export SKIP_CHECK=1; fi
  - rm -f push_image_to_repo_flag skip_build_package_check

script:
  - ./build.sh

after_success:
  - if [[ $PUSH_THE_IMAGE -eq 1 ]]; then images/push-image.sh $OS-$OS_VER; fi

